input{
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    display: block;
    border-radius: 12px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    font-size: 16px;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

input:focus {
    border-color: #0078d7;
    box-shadow: 0 0 5px rgba(0, 120, 215, 0.5);
    outline: none;
}

input:hover {
    border-color: #005a9e;
}


.main-view {
    background-color: rgba(red, green, blue, alpha);
    padding: 2rem;
    margin: 0 1.25rem 1.25rem 1.25rem;
    border-radius: 2rem;
    height: fit-content;
    z-index: 1;
    position:fixed;
    bottom :0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 2.5rem);
    max-width: 600px;
    border: 1px solid #ccc;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(6px);
}

.submit-button {
    background-color: #0078d7;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}   

